.nav-overlay{
  background-color: rgba(26, 51, 101, 50%);
  position : absolute;
  z-index : 1000;
  left : 0;
  top : 0;
  right : 0;
  bottom : 0;
}
.nav-bar-container{
  position : absolute;
  left : 0;
  top : 0;
  bottom : 0;
  z-index: 10000;
  width : 300px;
	display: flex;
	flex-direction: column;
  border-right: solid 1px var(--navy);
  padding-top: 10px;
  background-color: var(--white);
}
.collapsed {
  display : none;
}
.closeButton{
  height : 60px;
}
.closeButton > p {
	font-weight: 300;
  font-style: normal;
  font-size: 40px;
  text-align: center;
  color : var(--navy);
}
.nav-text{
  margin : 10px 0px;
  padding: 3px 15px;
  justify-content: center;
  align-self: center;
  font-size: 24px;
  text-decoration: none;
  color : var(--navy);
}
.nav-text:hover{
  background-color: var(--navy);
  color : var(--yellow);
  /* text-decoration: line-through;
  text-decoration-color: var(--yellow); */
}
.active{
  background-color: var(--navy);
  color : var(--yellow);
  font-weight: 700;
}
.home {
  margin : 40px auto;
  font-weight : 400;
  font-style: normal;
}
