.container {
  position : absolute;
  left : 0;
  right : 0;
  top : 0;
  bottom: 0;
}
.content {
  position : absolute;
  left : 0;
  right : 0;
  top : 0;
  bottom: 0;
  padding : 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
