/*=====================
OVERALL DESIGN GUIDE
=====================*/

#root{
  position : absolute;
  left : 0;
  top : 0;
  width : 100%;
}

html, #all {
	/*setting global variables */
  --navy : #1A3365;
  --white: #F5F5F5;
	--yellow: #FFBB00;
	--coral: #FF4343;
}
body {
	width: 100%;
  font-family: "Lato";
	font-weight: 300;
  font-style: italic;
  font-size: 32px;
  color : var(--navy);
}
